{
	"plugins": ["prettier-plugin-astro", "prettier-plugin-tailwindcss"],
	"pluginSearchDirs": false,
	"printWidth": 80,
	"semi": false,
	"singleQuote": true,
	"tabWidth": 2,
	"trailingComma": "none",
	"useTabs": true
}
