---
import Header from "../layouts/Header.astro"
import Layout from "../layouts/Layout.astro";

---
<Layout title="Not Found">    
    <main>
        <p>404</p>
        <p>Not found</p>
    </main>
</Layout>