---
import Layout from '../layouts/Layout.astro';
---
<Layout title="My asewome E-commerce">
	<main>
		<form action="/products">
			<input id='input' type="text" name="search" placeholder="Smartphones, Laptops..."/>
			<button type="submit">Search</button>
		</form>
	</main>
</Layout>