---
import SearchBar from '../components/SearchBar.astro';
import Layout from '../layouts/Layout.astro';
---
<Layout title="My asewome E-commerce">
	<main class="min-h-screen grid content-center justify-center select-none">
		<div>
			<h1 class="font-pacifico text-5xl leading-loose text-center">Aesonne Shop</h1>
			<SearchBar search=''/>
		</div>
	</main>
</Layout>