---
const {search, products} = Astro.props

interface Props {
    search: string
    products: any[]
}

const categories = [...new Set(products.map(el => el.category))]
const trueCategories = categories.map(category => {
    return {name: category, count: products.filter(product => product.category === category ).length }
})
---

<div>
        {
            products.length > 0 ? (
                <section> {
                trueCategories.map(el => (<span>{el.name} - {el.count}</span>))
            }
            <p>Results for "{search}": {products.length}</p>
            </section>) : undefined
        }
</div>