---
const {search, products} = Astro.props

interface Props {
    search: string
    products: any[]
}

const categories = [...new Set(products.map(el => el.category))]
const trueCategories = categories.map(category => {
    return {name: category, count: products.filter(product => product.category === category ).length }
})
---
<section>
    <p class="text-2xl font-bold text-zinc-800">Results for "{search}": {products.length}</p>
        {
            products.length > 0 ? (
                <div class="flex flex-wrap mt-2"> {
                    trueCategories.map(el => (<div class="bg-purple-600 m-0.5 text-sm text-white rounded-lg p-1 px-3">{el.name} - {el.count}</div>))
            }
            </div>) : undefined
        }
</section>