---
import Product from '../../components/Product.astro'
import ProductsLists from '../../components/ProductsLists.astro'
import Header from '../../layouts/Header.astro'
import { searchProducts } from '../../services/products'

const { searchParams } = Astro.url
const search = searchParams.get('search') || ''
const products = await searchProducts({ search })

// Default page when products search is blank
---

<Header title="products" search={search} products={products}>
	<main>
		<section>
			<ProductsLists products={products}/>
		</section>
	</main>
</Header>
