---
import SearchBar from '../components/SearchBar.astro';
import SearchInfo from '../components/SearchInfo.astro';
import Layout from './Layout.astro'
interface Props {
	title: string;
    search: string;
}

const { title, search} = Astro.props;
---

<Layout title={title}>    
    <header class="bg-black text-white">
        <h1 class="text-3xl font-bold"><a href="/">My asewome E-commerce</a></h1>
        <SearchBar 
            search={search}
        />
    </header>
    <slot />
</Layout>