---
import Layout from './Layout.astro'
interface Props {
	title: string;
}

const { title } = Astro.props;
---

<Layout title={title}>    
    <header>
        <h1><a href="/">My asewome E-commerce</a></h1>
    </header>
    <slot />
</Layout>