---
import SearchBar from '../components/SearchBar.astro';
import Layout from './Layout.astro'
interface Props {
	title: string;
    search: string;
    products: any[]
}

const { title, search, products} = Astro.props;
---

<Layout title={title}>    
    <header>
        <h1><a href="/">My asewome E-commerce</a></h1>
        <SearchBar 
            search={search}
            tags={true}
            products={products}
        />
    </header>
    <slot />
</Layout>